OPENAI_API_KEY=
MXTOOLBOX_KEY=

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_PORT=5432
POSTGRES_HOST=planspiegel_postgres

REDIS_URL=redis://planspiegel_redis:6379
REDIS_PASSWORD=your_secure_password

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET_KEY=your_secure_password
FRONTEND_URL=https://planspiegel.com/

MINIO_ACCESS_KEY=minioaccesskey
MINIO_SECRET_KEY=miniosecretkey
MINIO_ROOT_USER=minioaccesskey
MINIO_ROOT_PASSWORD=miniosecretkey
MINIO_ENDPOINT_URL=planspiegel_minio:9000